.show {
  display: block;
}

.hide {
  display: none !important;
}

#teams-wrapper > div,
#elected-wrapper > div   {
  display: flex;
  justify-content: space-around;
}
.team,
.side {
  height: 250px;
  width: 250px;
  background-color: yellow;
  border-radius: 12px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px silver solid;
}

.selected {
  border-color: black;
}

.toss {
  height: 120px;
  width: 120px;
  background-color: orange;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 4px solid red;
  margin: 2px;
  cursor: pointer;
}
